<link rel="stylesheet" type="text/css" href="/resource/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/style.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/invalid.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/form.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/reports.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/scrollbar.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/bootstrap-select.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/lightbox.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/jquery-ui/jquery-ui.min.css" />
<link href="/resource/css/bootstrap.min.css" rel="stylesheet">
<link href="/resource/css/bootstrap-nav-wizard.css" rel="stylesheet">



<div class="content-box-top" style="padding-bottom: 30px;">
    <div class="summery_body">
        <div class="content-box-header">
            <ul class="nav nav-wizard" style="float:left">
                <li class="active">
                    <p><i class="fa fa-cog"></i> Settings Startup</p>
                </li>
            </ul>
        </div><!-- End .content-box-header -->
        <div class="clear"></div>
        <a href="company-detail.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="uploads/logo/06187797531d809bd69ddd5e8c127214.jpg" class="panelIcon hvr-outline-in" />
                <h3>Company Profile</h3>
            </div>
        </a>
        <a href="change-password.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/safe.png" class="panelIcon hvr-outline-in" />
                <h3>Change Password</h3>
            </div>
        </a>
        <div class="clear"></div>
        <hr />

        <a href="banks-management.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/banks.png" class="panelIcon hvr-outline-in" />
                <h3>Banks</h3>
            </div>
        </a>
        <a href="suppliers-management.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/supplier.png" class="panelIcon hvr-outline-in" />
                <h3>Suppliers</h3>
            </div>
        </a>


        <a href="customer-management.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/customer.png" class="panelIcon hvr-outline-in" />
                <h3>Customers</h3>
            </div>
        </a>



        <a href="employees-management.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/payrolls.png" class="panelIcon hvr-outline-in" />
                <h3>Employees</h3>
            </div>
        </a>

        <!-- <a href="agents-list.html">
                <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <img src="resource/images/MedIcons/payrolls.png" class="panelIcon hvr-outline-in" />
                    <h3>Agents</h3>
                </div>
            </a> -->
        <div class="clear"></div>
        <hr />


        <a href="item-category-management.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/item_categories.png" class="panelIcon hvr-outline-in" />
                <h3>Category</h3>
            </div>
        </a>
        <!-- <a href="stocks-summery-report.html">
                    <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <img src="resource/images/MedIcons/items.png" class="panelIcon hvr-outline-in" />
                        <h3>Items</h3>
                    </div>
                </a> -->

        <a href="items-management.html?tab=list">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/items.png" class="panelIcon hvr-outline-in" />
                <h3>Items</h3>
            </div>
        </a>


        <a href="item-rates.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/items.png" class="panelIcon hvr-outline-in" />
                <h3>Search Rate</h3>
            </div>
        </a>









        <div class="clear"></div>








        <div class="clear"></div>
        <hr />
        <a href="accounts-management.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/chart.png" class="panelIcon hvr-outline-in" />
                <h3>Chart of Accounts</h3>
            </div>
        </a>
        <a href="linked-accounts.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/chart.png" class="panelIcon hvr-outline-in" />
                <h3>Linked Accounts</h3>
            </div>
        </a>
        <a href="expense-accounts.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/MedIcons/chart.png" class="panelIcon hvr-outline-in" />
                <h3>Expense Accounts</h3>
            </div>
        </a>

        <div class="clear"></div>
        <hr />

        <a href="misc-settings.html">
            <div class="panel1 hvr-underline-from-center col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="resource/images/setting.png" class="panelIcon hvr-outline-in" />
                <h3>Misc. Settings</h3>
            </div>
        </a>
        <div style=" clear:both;"></div>
    </div>
    <!--summery_body-->
</div><!-- End .content-box -->
</div>


<script
    type="text/javascript">setTimeout(function () { var mode = 'smsBalance'; $.post('db/sms-info-process.html', { mode: mode }, function (data) { data = $.parseJSON(data); $('span.sms_count').html(data['SMS']); }); }, 5000);</script>
</div> <!-- End #sidebar -->