<div class="content-box-top" style="overflow:visible;">
    <div class="summery_body">
        <div class="content-box-header">
            <p>Journal Voucher</p>
            <div class="clear"></div>
        </div><!-- End .content-box-header -->
        <div id="bodyTab1">


            <div id="form">
                <div class="caption" style="width:50px;">JV #</div>
                <div class="field_1" style="width:100px;">
                    <input class="form-control" name="jvNum" type="text" value="3443"
                        style="width:100px;text-align:center;" readonly />
                </div>
                <div class="caption" style="width:50px;">Date</div>
                <div class="field_1">
                    <input class="form-control datepicker" type="text" name="jvDate" value="07-02-2022" />
                </div>
                <div class="caption" style="width:50px;">PO #:</div>
                <div class="field_1" style="width:150px;">
                    <input class="form-control" type="text" name="pon" value="" style="text-align:center;" />
                </div>

                <!-- NOT IN USED -->
                <div class="caption" style="width:100px;display: none;">Reference</div>
                <div class="field_1" style="width:150px;">
                    <input class="form-control" style="display: none;" type="text" name="jvReference" value="" />
                </div>
                <!-- ---- -->
                <div class="clear"></div>
                <div class="clear" style="height:10px;"></div>
                <div class="panel panel-default" style="width:100%;margin:0px auto;">
                    <table class="tableStyle" cellspacing="0" style="width:100%;">
                        <thead>
                            <th class="bg-color text-center col-xs-3" style="vertical-align:middle;" colspan="2">
                                Account
                                <a href="#" onclick="refresh_accounts();" class="btn btn-default btn-xs"><i
                                        class="fa fa-refresh" style="color:#06C;margin:0px;padding:0px;"></i></a>
                                <a href="accounts-management.php" target="_blank" class="btn btn-default btn-xs"><i
                                        class="fa fa-plus" style="color:#06C;margin:0px;padding:0px;"></i></a>
                            </th>
                            <th class="bg-color col-xs-6 text-left">Narration</th>
                            <th class="bg-color col-xs-1">Debit</th>
                            <th class="bg-color col-xs-1">Credit</th>
                            <th class="bg-color col-xs-1">Action</th>
                        </thead>
                        <tbody id="d">
                            <tr class="entry_row">
                                <td colspan="2">
                                    <select class="accCodeSelector show-tick form-control" data-style="btn-default" data-live-search="true" style="border:none">
                                        <option selected value="0"></option>
                                        <% level5.forEach(element => { %>
                                            <option value="<%= element.level5_code%>" data-subtext='<%= element.level5_code%>'><%= element.level5_title  %></option>
                                        <% }) %>                                        

                                    </select>
                                </td>
                                <td><input type="text" class="form-control narration" /></td>
                                <td><input type="text" transactionType="Dr" class="form-control debit"
                                        style="text-align:right;color: #036;" /></td>
                                <td><input type="text" transactionType="Cr" class="form-control credit"
                                        style="text-align:right;color: #036;" /></td>
                                <td><input type="button" class="btn btn-default cdr_btn btn-block" value="Enter" /></td>
                            </tr>
                            <tr>
                                <td colspan="4"
                                    style="display:none;height:15px;padding:1px;padding-left:10px;font-size:14px;"
                                    class="insertAccTitle"></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="transactions" style="display:none;"></tr>
                            <tr style="background-color:#F8F8F8;height: 30px;">
                                <td colspan="3" style="text-align:center;"> Total/Difference </td>
                                <td class="debitTotal" style="text-align:center;color:#042377;" title="Debit">0.00</td>
                                <td class="creditTotal" style="text-align:center;color:#042377;" title="Credit">0.00
                                </td>
                                <td class="drCrDiffer" style="text-align:center;color:#042377;" title="Diffrence"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="underTheTable pull-right" style="padding:10px;margin:10px;">
                        <input type="hidden" value="0" class="jVoucher_id" />

                        <button class="button pull-right save_voucher">Post</button>

                        <input type="button" class="button pull-right mr-10"
                            onclick="window.location.href = 'create-voucher.php';" value="New Voucher">


                    </div>
                    <div class="clear"></div>
                </div>
                <!--content-box-content-->
            </div>
            <!--form-->
            <div style="clear:both;"></div>
        </div>
    </div> <!-- End summer -->
</div>



<script type="text/javascript">
    $(window).load(function () {
        $('.accCodeSelector').selectpicker();
        $("div.accCodeSelector button").focus();
        $(".narration").setFocusTo(".debit");
        $(".debit").setFocusToIfVal(".credit");
        $(".narration").escFocusTo("button.dropdown-toggle");
        $(".debit").escFocusTo(".narration");
        $(".credit").escFocusTo(".debit");
        $(".debit").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).quickSubmitDrCr();
            }
        });
        $(".credit").keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).quickSubmitDrCr();
            }
        });
        $(".cdr_btn").on('click', function (e) {
            $(this).quickSubmitDrCr();
        });
        $("div.accCodeSelector button").keyup(function (e) {
            if (e.keyCode == 13) {
                if ($("select.accCodeSelector option:selected").val() != 0) {
                    var account_code = $("select.accCodeSelector option:selected").val();
                    getAccountBalance(account_code);
                    $(".insertAccTitle").fadeIn();
                    $(".narration").focus();
                }
            }
        });
        $(".save_voucher").click(function () {
            $(this).saveJournal();
        });
        $(window).keyup(function (e) {
            if (e.altKey == true && e.keyCode == 83) {
                e.preventDefault();
                $("#form").click();
                $(".save_voucher").click();
                return false;
            }
        });
        $("#datepicker").setFocusTo("div.accCodeSelector button");
        $(document).showDifference();
        $(".deleteVoucher").click(function () {
            $(this).deleteVoucher();
        });
    });
</script>