<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SIT Solutions</title>
    <link rel="stylesheet" href="resource/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="resource/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="resource/css/invalid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="resource/css/form.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="resource/css/tabs.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="resource/css/reports.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="resource/css/font-awesome.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="resource/css/jquery-ui/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="resource/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="resource/css/bootstrap-select.css" type="text/css" />
    <link href="resource/css/bootstrap-nav-wizard.css" rel="stylesheet">
    <link rel="stylesheet" href="resource/css/table-style.css" type="text/css" />

    <style type="text/css">
        .voucherTitle {
            text-transform: uppercase !important;
            text-align: center !important;
            font-size: 18px !important;
            font-weight: bold !important;
            padding: 5px 0 !important;
            margin: 0 auto !important;
            border: 1px solid #d3d3d3 !important;
            background-color: #f5f5f5 !important
        }

        .logo {
            max-width: 100px;
            max-height: 120px;
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 5px;
            margin-right: 10px;
            margin-bottom: 10px
        }
    </style>

    <style type="text/css">
        .fontBig {
            font-size: 14px !important
        }

        .bold {
            font-weight: bold
        }

        tr:nth-child(even) {
            background: #fafafa
        }

        tr:nth-child(odd) {
            background: #fff
        }

        tr:hover {
            background-color: #ff9 !important
        }
    </style>

    <script type="text/javascript" src="resource/scripts/jquery.1.11.min.js"></script>
    <script type="text/javascript" src="resource/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="resource/scripts/bootstrap-select.js"></script>
    <script type="text/javascript" src="resource/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="resource/scripts/configuration.js"></script>
    <script type="text/javascript" src="resource/scripts/printThis.js"></script>
    <script type="text/javascript" src="resource/scripts/reports.configuration.js"></script>
    <script type="text/javascript" src="resource/scripts/sideBarFunctions.js"></script>
    <script
        type="text/javascript">$(window).on('load', function () { $('.selectpicker').selectpicker(); $(".printThis").click(function () { $(".printTable").printThis({ debug: false, importCSS: false, printContainer: true, loadCSS: 'resource/css/reports.css', pageTitle: "Sitsbook.net", removeInline: false, printDelay: 500, header: null }); }); });</script>
</head>

<body>
    <div id="body-wrapper">
        <div id="sidebar">
            <input type="hidden" value="ledger-details.html" class="this_file_name" />
            <input type="hidden" value="0101010003" class="cash_default" />
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="hamburger hamburger--3dx-r pull-left toggleSideBar"><span class="hamburger-box"><span
                                    class="hamburger-inner"></span></span></a>
                        <a href="dashboard.html" class="navbar-brand">
                            <script data-pagespeed-no-defer>//<![CDATA[
                                (function () { for (var g = "function" == typeof Object.defineProperties ? Object.defineProperty : function (b, c, a) { if (a.get || a.set) throw new TypeError("ES3 does not support getters and setters."); b != Array.prototype && b != Object.prototype && (b[c] = a.value) }, h = "undefined" != typeof window && window === this ? this : "undefined" != typeof global && null != global ? global : this, k = ["String", "prototype", "repeat"], l = 0; l < k.length - 1; l++) { var m = k[l]; m in h || (h[m] = {}); h = h[m] } var n = k[k.length - 1], p = h[n], q = p ? p : function (b) { var c; if (null == this) throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined"); c = this + ""; if (0 > b || 1342177279 < b) throw new RangeError("Invalid count value"); b |= 0; for (var a = ""; b;)if (b & 1 && (a += c), b >>>= 1) c += c; return a }; q != p && null != q && g(h, n, { configurable: !0, writable: !0, value: q }); var t = this; function u(b, c) { var a = b.split("."), d = t; a[0] in d || !d.execScript || d.execScript("var " + a[0]); for (var e; a.length && (e = a.shift());)a.length || void 0 === c ? d[e] ? d = d[e] : d = d[e] = {} : d[e] = c }; function v(b) { var c = b.length; if (0 < c) { for (var a = Array(c), d = 0; d < c; d++)a[d] = b[d]; return a } return [] }; function w(b) { var c = window; if (c.addEventListener) c.addEventListener("load", b, !1); else if (c.attachEvent) c.attachEvent("onload", b); else { var a = c.onload; c.onload = function () { b.call(this); a && a.call(this) } } }; var x; function y(b, c, a, d, e) { this.h = b; this.j = c; this.l = a; this.f = e; this.g = { height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight, width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth }; this.i = d; this.b = {}; this.a = []; this.c = {} } function z(b, c) { var a, d, e = c.getAttribute("data-pagespeed-url-hash"); if (a = e && !(e in b.c)) if (0 >= c.offsetWidth && 0 >= c.offsetHeight) a = !1; else { d = c.getBoundingClientRect(); var f = document.body; a = d.top + ("pageYOffset" in window ? window.pageYOffset : (document.documentElement || f.parentNode || f).scrollTop); d = d.left + ("pageXOffset" in window ? window.pageXOffset : (document.documentElement || f.parentNode || f).scrollLeft); f = a.toString() + "," + d; b.b.hasOwnProperty(f) ? a = !1 : (b.b[f] = !0, a = a <= b.g.height && d <= b.g.width) } a && (b.a.push(e), b.c[e] = !0) } y.prototype.checkImageForCriticality = function (b) { b.getBoundingClientRect && z(this, b) }; u("pagespeed.CriticalImages.checkImageForCriticality", function (b) { x.checkImageForCriticality(b) }); u("pagespeed.CriticalImages.checkCriticalImages", function () { A(x) }); function A(b) { b.b = {}; for (var c = ["IMG", "INPUT"], a = [], d = 0; d < c.length; ++d)a = a.concat(v(document.getElementsByTagName(c[d]))); if (a.length && a[0].getBoundingClientRect) { for (d = 0; c = a[d]; ++d)z(b, c); a = "oh=" + b.l; b.f && (a += "&n=" + b.f); if (c = !!b.a.length) for (a += "&ci=" + encodeURIComponent(b.a[0]), d = 1; d < b.a.length; ++d) { var e = "," + encodeURIComponent(b.a[d]); 131072 >= a.length + e.length && (a += e) } b.i && (e = "&rd=" + encodeURIComponent(JSON.stringify(B())), 131072 >= a.length + e.length && (a += e), c = !0); C = a; if (c) { d = b.h; b = b.j; var f; if (window.XMLHttpRequest) f = new XMLHttpRequest; else if (window.ActiveXObject) try { f = new ActiveXObject("Msxml2.XMLHTTP") } catch (r) { try { f = new ActiveXObject("Microsoft.XMLHTTP") } catch (D) { } } f && (f.open("POST", d + (-1 == d.indexOf("?") ? "?" : "&") + "url=" + encodeURIComponent(b)), f.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), f.send(a)) } } } function B() { var b = {}, c; c = document.getElementsByTagName("IMG"); if (!c.length) return {}; var a = c[0]; if (!("naturalWidth" in a && "naturalHeight" in a)) return {}; for (var d = 0; a = c[d]; ++d) { var e = a.getAttribute("data-pagespeed-url-hash"); e && (!(e in b) && 0 < a.width && 0 < a.height && 0 < a.naturalWidth && 0 < a.naturalHeight || e in b && a.width >= b[e].o && a.height >= b[e].m) && (b[e] = { rw: a.width, rh: a.height, ow: a.naturalWidth, oh: a.naturalHeight }) } return b } var C = ""; u("pagespeed.CriticalImages.getBeaconData", function () { return C }); u("pagespeed.CriticalImages.Run", function (b, c, a, d, e, f) { var r = new y(b, c, a, e, f); x = r; d && w(function () { window.setTimeout(function () { A(r) }, 0) }) }); })(); pagespeed.CriticalImages.Run('/mod_pagespeed_beacon', 'https://wd.sitsbook.info/ledger-details.html?accountCode=0401010012&po_no=&fromDate=01-01-2001&toDate=23-02-2022&generalReport=Generate', '82dtZm2p5Q', true, false, '7Eh9T4XA0xE');
//]]></script><img alt="Company logo" class="logo_small" src="resource/images/sitsbook-logo/logo.png"
                                data-pagespeed-url-hash="1471217008"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">


                            <li><a class="notification-icons" href="change-password.html">
                                    <i class="fa fa-user"></i> <span>Tayab Account </span> </a>
                            </li>
                            <li><a class="notification-icons" href="logout.html?out" data-toggle="tooltip"
                                    title="Logout"><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <aside>
                <nav class='site-nav'>
                    <ul id="main-nav">
                        <li><a href="dashboard.html" class="nav-top-item no-submenu"><i class="fa fa-dashboard"></i>
                                Dashboard</a></li>
                        <li><a class="nav-top-item"><i class="fa fa-book"></i> Cash / Cheque</a>
                            <ul>
                                <li><a href="create-voucher.html">Journal Voucher</a></li>
                                <li><a href="cash-book-voucher.html">Cash Book</a></li>
                                <li><a href="cash-receipt.html">Cash Receipt</a></li>
                                <li><a href="cash-payment.html">Cash Payment</a></li>
                                <li><a href="bank-receipt.html">Bank Receipt</a></li>
                                <li><a href="bank-payment.html">Bank Payment</a></li>
                                <li><a href="posted-enteries.html">Search Vouchers</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-top-item"><i class="fa fa-shopping-cart"></i> Purchases</a>
                            <ul>
                                <li><a href="purchase-details.html">Purchases</a></li>
                                <li><a href="purchase-return-details.html">Purchase Returns</a></li>
                            </ul>
                        </li>














                        <li><a class="nav-top-item"><i class="fa fa-angle-double-right"></i> Sales</a>
                            <ul>



                                <!-- <li><a href="sale-orders.html">Sale Orders</a></li> -->
                                <li><a href="sale-details.html">Sales</a></li>
                                <li><a href="sales-return-details.html">Sale Returns</a></li>


                            </ul>
                        </li>

























                        <li><a class="nav-top-item"><i class="fa fa-angle-double-right"></i> Embroidery</a>
                            <ul>
                            </ul>
                        </li>






                        <li><a href="cheques-details.html" class="nav-top-item no-submenu"><i class="fa fa-check"></i>
                                Cheques</a></li>

                        <!-- <li><a class="nav-top-item"><i class="fa fa-money"></i>Cheques</a> -->
                        <!-- <ul> -->
                        <!-- <li><a href="cheques-payments.html">Payments</a></li> -->

                        <!-- <li><a href="cheques-received.html">Receipts</a></li> -->
                        <!-- </ul> -->
                        <!-- </li> -->




                        <li><a href="financial-reports.html" class="nav-top-item no-submenu"><i
                                    class="fa fa-calculator"></i> Reports</a></li>
                        <li><a href="settings.html" class="nav-top-item no-submenu"><i class="fa fa-cog"></i>
                                Settings</a></li>







                        <li><a href="logout.html?out" class="nav-top-item no-submenu"><i class="fa fa-sign-out"></i>
                                Sign
                                Out</a></li>
                    </ul> <!-- End #main-nav -->
                </nav>
            </aside>
            <div class="clear"></div>

            <!-- get sms balance -->
            <script
                type="text/javascript">setTimeout(function () { var mode = 'smsBalance'; $.post('db/sms-info-process.html', { mode: mode }, function (data) { data = $.parseJSON(data); $('span.sms_count').html(data['SMS']); }); }, 5000);</script>
        </div>
        <div id="bodyWrapper">
            <div class="content-box-top">
                <div class="summery_body">
                    <div class="content-box-header">
                        <ul class="nav nav-wizard" style="float:left">
                            <li><a href="financial-reports.html"><i class="fa fa-database"></i> Reports</a></li>
                            <li class="active"><a href="#">General Ledger Reporting</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div><!-- End .content-box-header -->
                    <div id="bodyTab1" style="margin-top:20px;">
                        <div class="clear"></div>
                        <div id="form" style="margin: 0 auto;">
                            <form method="get" action="">
                                <div class="row">
                                    <div class="col-6">
                                        <div style="width:400px; float:left;">
                                            <div class="caption" style="width:120px;">Account Title :</div>
                                            <div class="field" style="width:220px;">
                                                <select class="selectpicker show-tick form-control"
                                                    data-style="btn-default" data-live-search="true" style="border:none"
                                                    name="accountCode">
                                                    <option selected value=""></option>
                                                    <option value="0301030029">0301030029 - Factory(Packing) Rent Haji
                                                        Khalid Sb</option>
                                                    <option value="0401010012" selected='selected'>0401010012 - AA
                                                        DAYEING</option>
                                                    <option value="0101040060">0101040060 - AB Traders</option>
                                                    <option value="0401040005">0401040005 - Abdul Ghaffar Gujjar
                                                    </option>
                                                    <option value="0102020004">0102020004 - AC</option>
                                                    <option value="0101040015">0101040015 - Afeef Pasha</option>
                                                    <option value="0401010002">0401010002 - AFZAL BHOLA SB</option>
                                                    <option value="0101040025">0101040025 - Agst Chq</option>
                                                    <option value="0401010062">0401010062 - AHMAD ABUBAKAR DYEING
                                                    </option>
                                                    <option value="0101040059">0101040059 - Ahmad Centre</option>
                                                    <option value="0401010017">0401010017 - Ahmad Embroidery Warisha
                                                        Textiles</option>
                                                    <option value="0401040001">0401040001 - Ahmad Rana </option>
                                                    <option value="0401010067">0401010067 - Ahsan Mudasir Grey</option>
                                                    <option value="0401010015">0401010015 - AKS (Malik Ayaz Sb)</option>
                                                    <option value="0401010018">0401010018 - AL REYAN EMB</option>
                                                    <option value="0101040003">0101040003 - Ali Dawood Sb</option>
                                                    <option value="0101040051">0101040051 - Ali Fabrics</option>
                                                    <option value="0401010060">0401010060 - Aqsa Arts Rainbow Ink
                                                    </option>
                                                    <option value="0101040001">0101040001 - AR SONS</option>
                                                    <option value="0401010037">0401010037 - AR SONS (PURCHASES)
                                                    </option>
                                                    <option value="0101040080">0101040080 - Arman Arts</option>
                                                    <option value="0101040072">0101040072 - AS Arts</option>
                                                    <option value="0401040007">0401040007 - ASAD SB</option>
                                                    <option value="0101100001">0101100001 - ASAD SB Recovery A/C
                                                    </option>
                                                    <option value="0401010041">0401010041 - Ashraf Computers</option>
                                                    <option value="0401010031">0401010031 - Ashraf Zia Tex Ind</option>
                                                    <option value="0101040037">0101040037 - ASIF FEBRICS</option>
                                                    <option value="0401010038">0401010038 - ASIF FEBRICS (PURCHASE A/C)
                                                    </option>
                                                    <option value="0401010048">0401010048 - Aymen Impex </option>
                                                    <option value="0401040008">0401040008 - Aziz-ur-Rahman Designer
                                                    </option>
                                                    <option value="0301020010">0301020010 - Backhander</option>
                                                    <option value="0401010045">0401010045 - Bao Gee Textile</option>
                                                    <option value="0101040008">0101040008 - Be Be Jee</option>
                                                    <option value="0401010027">0401010027 - BEST EMB</option>
                                                    <option value="0401010057">0401010057 - Bilal Sagheer Sb </option>
                                                    <option value="0101040023">0101040023 - BILAL SB (PERSONAL)</option>
                                                    <option value="0301020007">0301020007 - BILAL SB DRWAINGS</option>
                                                    <option value="0101040057">0101040057 - Bin Ijaz</option>
                                                    <option value="0401010073">0401010073 - Bin Ijaz Purchase</option>
                                                    <option value="0101040002">0101040002 - BIN MARYAM</option>
                                                    <option value="0101040077">0101040077 - BIN MARYAM 2022</option>
                                                    <option value="0401010043">0401010043 - BIN MARYAM PURCHASE A/C
                                                    </option>
                                                    <option value="0101040007">0101040007 - BIN NAEEM</option>
                                                    <option value="0401010054">0401010054 - Bismillah Dyeing</option>
                                                    <option value="0102030002">0102030002 - BRAVO 1ST MACHINE</option>
                                                    <option value="0401010003">0401010003 - BRAVO INK</option>
                                                    <option value="0102030001">0102030001 - BRAVO NEW MACHINE</option>
                                                    <option value="0101010004">0101010004 - Cash In Hand A/c Adil Grey
                                                    </option>
                                                    <option value="010101001">010101001 - Cash in Hand A/c Admin
                                                    </option>
                                                    <option value="0101010002">0101010002 - Cash in Hand A/c Naeem
                                                    </option>
                                                    <option value="0101010003">0101010003 - Cash In Hand Tayyab Account
                                                    </option>
                                                    <option value="020101001">020101001 - CASH SALE</option>
                                                    <option value="0301020009">0301020009 - CEO's Kids Fee</option>
                                                    <option value="0102050001">0102050001 - CEO's Motor Vehicles
                                                    </option>
                                                    <option value="0301030017">0301030017 - CHEMICAL EXP</option>
                                                    <option value="0401010050">0401010050 - City Cafe</option>
                                                    <option value="0301030015">0301030015 - COMMISSION (BROOKERY)
                                                    </option>
                                                    <option value="030101002">030101002 - Commission Sale Exp</option>
                                                    <option value="0101030001">0101030001 - Committee Bilal Anjum Sb
                                                    </option>
                                                    <option value="0102020001">0102020001 - COMPUTER</option>
                                                    <option value="0301030012">0301030012 - CONSTRACTION</option>
                                                    <option value="030104001">030104001 - Cost of Sales A/c</option>
                                                    <option value="0301030011">0301030011 - Courier & Postage</option>
                                                    <option value="0201010003">0201010003 - CREDIT SALE</option>
                                                    <option value="0201010004">0201010004 - CUT PICES SALES</option>
                                                    <option value="0101040024">0101040024 - Daniyal Shafiq</option>
                                                    <option value="0401010044">0401010044 - DANYAL SHAFIQUE PURCHASE A/C
                                                    </option>
                                                    <option value="0101010005">0101010005 - Dasti Account (CEO)</option>
                                                    <option value="0301030009">0301030009 - DIESEL</option>
                                                    <option value="0301030013">0301030013 - DONATION</option>
                                                    <option value="0101040006">0101040006 - DW Arts</option>
                                                    <option value="0101040066">0101040066 - Ehsan Zeeshan C/o Nouman
                                                        Shoukat</option>
                                                    <option value="0401010074">0401010074 - Elahi Traders</option>
                                                    <option value="0401010071">0401010071 - Eman Dyeing</option>
                                                    <option value="0301030024">0301030024 - EMB</option>
                                                    <option value="030105001">030105001 - Employees Salary Exp</option>
                                                    <option value="0301030001">0301030001 - ENTERTAINMENT</option>
                                                    <option value="030102002">030102002 - Entertanment</option>
                                                    <option value="0301030018">0301030018 - Errection of new Machinary
                                                        Exp</option>
                                                    <option value="0401010056">0401010056 - Evelyn Water</option>
                                                    <option value="0401010032">0401010032 - Ever Green</option>
                                                    <option value="0301030016">0301030016 - Factory Rent (Haji Ghulam
                                                        Nabi )</option>
                                                    <option value="0101040054">0101040054 - Faheem Sb (FA Traders)
                                                    </option>
                                                    <option value="0101040061">0101040061 - Faiq Tariq Sb (Brokerage)
                                                    </option>
                                                    <option value="0101040074">0101040074 - Fair Deal Textiles</option>
                                                    <option value="0101040055">0101040055 - FARAZ SB</option>
                                                    <option value="0301030007">0301030007 - FESCO BILL</option>
                                                    <option value="0401020001">0401020001 - FESCO PAYABLE</option>
                                                    <option value="0101040047">0101040047 - Fiaz Shah W1</option>
                                                    <option value="0101100002">0101100002 - Fix Advances</option>
                                                    <option value="0301030002">0301030002 - Freight & Cargo</option>
                                                    <option value="0102020002">0102020002 - FURNITURE</option>
                                                    <option value="0101040058">0101040058 - Gifts & Samples</option>
                                                    <option value="0401010022">0401010022 - GULZAR KAMOKA RIKSHA DRIVER
                                                    </option>
                                                    <option value="0401010051">0401010051 - H.A.R. Fibers </option>
                                                    <option value="0101040009">0101040009 - HASEEB ARTS</option>
                                                    <option value="0401010046">0401010046 - HASEEB ARTS PURCHASE A/C
                                                    </option>
                                                    <option value="0401010025">0401010025 - HASEEB COMPUTER</option>
                                                    <option value="0101040010">0101040010 - HASSAN ARTS</option>
                                                    <option value="0101040017">0101040017 - HASSAN FAYAZ</option>
                                                    <option value="0101040011">0101040011 - Hassan Hussain Enterprises
                                                    </option>
                                                    <option value="0401010020">0401010020 - Hilal Fabrics</option>
                                                    <option value="0101040022">0101040022 - HOME P 203</option>
                                                    <option value="0301020008">0301020008 - HOME P 203 EXPENCES</option>
                                                    <option value="0101040073">0101040073 - Humayun Sohail Sb</option>
                                                    <option value="0101040071">0101040071 - Ibrahim Center</option>
                                                    <option value="0401010024">0401010024 - IMRAN ISHAQ</option>
                                                    <option value="020102001">020102001 - Income A/c other Revenue
                                                    </option>
                                                    <option value="020201001">020201001 - Income A/c Services</option>
                                                    <option value="0401040006">0401040006 - Inderyas</option>
                                                    <option value="0301030026">0301030026 - INK</option>
                                                    <option value="010106003">010106003 - Inventory on rent A/c</option>
                                                    <option value="0101040062">0101040062 - IQBAL LAHORE</option>
                                                    <option value="0401010058">0401010058 - Irfan Suleman </option>
                                                    <option value="0101040035">0101040035 - IRSAL SB</option>
                                                    <option value="0101020006">0101020006 - ISSUED CHQ</option>
                                                    <option value="0101040050">0101040050 - Jahanzaib</option>
                                                    <option value="0101040069">0101040069 - Jalal Arts</option>
                                                    <option value="0101040075">0101040075 - Jalal Arts 2022</option>
                                                    <option value="0401010070">0401010070 - Jubilee Textiles</option>
                                                    <option value="0101040013">0101040013 - KAMAL FEBRICS</option>
                                                    <option value="0401010026">0401010026 - KASHIF SB</option>
                                                    <option value="0101040049">0101040049 - Khalifa Asif</option>
                                                    <option value="0101040031">0101040031 - Khurram Shafiq</option>
                                                    <option value="0101090001">0101090001 - Lala Mushtaque</option>
                                                    <option value="0401010052">0401010052 - M Tariq Grey</option>
                                                    <option value="0401010023">0401010023 - MA </option>
                                                    <option value="0101040065">0101040065 - MA Dyeing Sales</option>
                                                    <option value="0102030003">0102030003 - Machine UPS</option>
                                                    <option value="0101020001">0101020001 - MEEZAN BANK (BILAL SB)
                                                    </option>
                                                    <option value="0401010004">0401010004 - MF BRO</option>
                                                    <option value="0102040001">0102040001 - MISC ASSETS ETC</option>
                                                    <option value="0301030005">0301030005 - Misc Exp</option>
                                                    <option value="0301030030">0301030030 - Mobile Bills</option>
                                                    <option value="0101040027">0101040027 - MOON ARTS</option>
                                                    <option value="0401010021">0401010021 - MUBASHAR NASEEM</option>
                                                    <option value="0401010016">0401010016 - Musaddiq Embroidery
                                                    </option>
                                                    <option value="0101040034">0101040034 - MUZAMAL IJAZ</option>
                                                    <option value="0401010007">0401010007 - NADEEM LOADER</option>
                                                    <option value="0401010040">0401010040 - Nadeem Waseem Lahore
                                                        Purchase</option>
                                                    <option value="0101040029">0101040029 - NADEEM WASEEM LHR</option>
                                                    <option value="0401040003">0401040003 - Naveed Ansari</option>
                                                    <option value="0101040039">0101040039 - NUMAN EMB FSD</option>
                                                    <option value="0101040026">0101040026 - NUMAN SHOUKAT SB</option>
                                                    <option value="0401010029">0401010029 - ONYX (SECURITY COMPANY)
                                                    </option>
                                                    <option value="0101040063">0101040063 - Osama Saleem</option>
                                                    <option value="0101040038">0101040038 - Owais Manzor Sb</option>
                                                    <option value="050101001">050101001 - Owner Equity</option>
                                                    <option value="0301040002">0301040002 - Packing Contractor Fateh Ali
                                                    </option>
                                                    <option value="010111002">010111002 - Parking a/c rent receivable
                                                    </option>
                                                    <option value="0101020002">0101020002 - Party Slip Chq Hawala
                                                    </option>
                                                    <option value="0401020003">0401020003 - PAYABLE PTCL</option>
                                                    <option value="0401040009">0401040009 - PAYABLE SALARIES</option>
                                                    <option value="0401020002">0401020002 - PAYABLE WASA</option>
                                                    <option value="030102006">030102006 - Petrol</option>
                                                    <option value="0301030019">0301030019 - Petrol</option>
                                                    <option value="0301030031">0301030031 - Petty Resrves</option>
                                                    <option value="0301030021">0301030021 - POLY THIN BAG</option>
                                                    <option value="0301030023">0301030023 - POST</option>
                                                    <option value="0301030022">0301030022 - PREE </option>
                                                    <option value="050102001">050102001 - Profit & Loss A/c</option>
                                                    <option value="0301030008">0301030008 - PTCL BILL</option>
                                                    <option value="010106001">010106001 - PURCHASE</option>
                                                    <option value="020101002">020101002 - Purchase Discount</option>
                                                    <option value="030106001">030106001 - Purchase Freight</option>
                                                    <option value="0401010053">0401010053 - Purchase Jalal Arts</option>
                                                    <option value="010106002">010106002 - Purchase Returns</option>
                                                    <option value="0101040070">0101040070 - Qaiser Sb Karachi</option>
                                                    <option value="0101040040">0101040040 - QASIM SB</option>
                                                    <option value="0401010005">0401010005 - Rainbow Inks Pvt Ltd
                                                    </option>
                                                    <option value="0101040028">0101040028 - RAMZAN SB</option>
                                                    <option value="0401010019">0401010019 - REHAN IBRAHIM EMB</option>
                                                    <option value="010111001">010111001 - Rent Receivable A/c</option>
                                                    <option value="0301030006">0301030006 - REPAIR AND MAINTENANCE
                                                    </option>
                                                    <option value="0401010065">0401010065 - Rikshaw Ather</option>
                                                    <option value="0401010010">0401010010 - Rikshaw Faisal </option>
                                                    <option value="0401010035">0401010035 - Rikshaw Haider </option>
                                                    <option value="0401010069">0401010069 - Rikshaw Sajjad Khan</option>
                                                    <option value="0401010066">0401010066 - RIKSHWA ATHAR ZAMAN</option>
                                                    <option value="0101040053">0101040053 - RizTex</option>
                                                    <option value="0401010047">0401010047 - RIZWAN USMAN TRADERS
                                                    </option>
                                                    <option value="0101040052">0101040052 - Rumi Collection</option>
                                                    <option value="0301030004">0301030004 - Salaries & Wages</option>
                                                    <option value="030101001">030101001 - Sales Discount</option>
                                                    <option value="020101003">020101003 - Sales Return A/c</option>
                                                    <option value="040105001">040105001 - Sales Tax Payable</option>
                                                    <option value="010108001">010108001 - Sales Tax Receivable</option>
                                                    <option value="0401010059">0401010059 - Salman Yousaf Rizwan Arts
                                                    </option>
                                                    <option value="0301030028">0301030028 - Samad Pro Services</option>
                                                    <option value="0401010011">0401010011 - SAMI ASHRAF</option>
                                                    <option value="0101040067">0101040067 - SAMI ASHRAF SB SALES A/C
                                                    </option>
                                                    <option value="0301030020">0301030020 - SAMPLING EXP</option>
                                                    <option value="0101040005">0101040005 - SHAFI SB </option>
                                                    <option value="0401010068">0401010068 - Shahbaz Sb Grey</option>
                                                    <option value="0101040044">0101040044 - SHAHID BROCKER ( SALES A/C)
                                                    </option>
                                                    <option value="0401060001">0401060001 - SHAHID BROCKER (COMMISSION)
                                                    </option>
                                                    <option value="0401010055">0401010055 - Sheikh Ahmad Raza Grey
                                                    </option>
                                                    <option value="0301010004">0301010004 - Shop Rent</option>
                                                    <option value="0401010061">0401010061 - Shuja-ud-Din UPS</option>
                                                    <option value="0101040081">0101040081 - Sohni Arts</option>
                                                    <option value="0401010042">0401010042 - SS TRADERS (UMAIR SB)
                                                        PURCHASE A/C</option>
                                                    <option value="0101040056">0101040056 - SS Traders Umair Sb</option>
                                                    <option value="0301030003">0301030003 - STATIONERY</option>
                                                    <option value="0401010030">0401010030 - SUSPENSE ACCOUNT</option>
                                                    <option value="0101040032">0101040032 - Tehreem Collection</option>
                                                    <option value="0401010036">0401010036 - Tehreem Collection Purchases
                                                    </option>
                                                    <option value="0101040030">0101040030 - Top Tex</option>
                                                    <option value="030102003">030102003 - Travelling</option>
                                                    <option value="0101040079">0101040079 - UMAIR ZEESHAN (EHSAN
                                                        ZEESHAN)</option>
                                                    <option value="0101040042">0101040042 - UNKNOWN CUSTOMERS</option>
                                                    <option value="0102020003">0102020003 - UPS</option>
                                                    <option value="0101040033">0101040033 - USMAN CLOTH HOUSE</option>
                                                    <option value="0101040045">0101040045 - USMAN KHALID</option>
                                                    <option value="0101040046">0101040046 - USMAN LAHORE</option>
                                                    <option value="030102001">030102001 - Utility Bills</option>
                                                    <option value="0401010006">0401010006 - UTM</option>
                                                    <option value="0101040064">0101040064 - UTM Sales</option>
                                                    <option value="0101040016">0101040016 - VARIETY CENTER </option>
                                                    <option value="0401010034">0401010034 - Wahab Fabrics C/o Nouman
                                                        Shuakat</option>
                                                    <option value="010105001">010105001 - Walking Customers Receivable
                                                    </option>
                                                    <option value="0301030014">0301030014 - WAPDA MAINTENANCE</option>
                                                    <option value="0401010063">0401010063 - Waqas Islam Grey</option>
                                                    <option value="0401010009">0401010009 - WARISHA 1</option>
                                                    <option value="0401010008">0401010008 - WARISHA 2 </option>
                                                    <option value="0401010039">0401010039 - WARISHA 2 (PURCHASE A/C)
                                                    </option>
                                                    <option value="0301030027">0301030027 - WASA BILL</option>
                                                    <option value="0401010049">0401010049 - Wasif Chemical</option>
                                                    <option value="010112001">010112001 - WIP Account</option>
                                                    <option value="010108002">010108002 - With Holding Tax</option>
                                                    <option value="0301030025">0301030025 - WORKER ADVANCE</option>
                                                    <option value="0401010028">0401010028 - YASEEN AMEEN DYEING</option>
                                                    <option value="0101040043">0101040043 - Zain G Arts</option>
                                                    <option value="0401010072">0401010072 - Zainab Fatima Arts</option>
                                                    <option value="0101040078">0101040078 - Zainab Fatima c/o Shahzad Sb
                                                    </option>
                                                    <option value="0301010003">0301010003 - Zaqat Expenses</option>
                                                    <option value="0401050002">0401050002 - Zaqat Payable</option>
                                                    <option value="0101040048">0101040048 - Zeeshan ARTS</option>
                                                    <option value="0101040076">0101040076 - ZYLISH 2022</option>
                                                    <option value="0101040019">0101040019 - Zylish Sadaqat Arts</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div style="width:400px;float:left;">
                                            <div class="caption" style="width:120px;"> PO #:</div>
                                            <div class="field" style="width:150px;">
                                                <input type="text" name="po_no" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="clear"></div> -->
                                <div class="row">
                                    <div class="col-6">
                                        <div style="width:400px; float:left;">
                                            <div class="caption" style="width:120px;">Start Date:</div>
                                            <div class="field" style="width:150px">
                                                <input type="text" name="fromDate" value=""
                                                    class="form-control datepicker" style="width:145px;" />
                                                <!-- <input type="date" name="fromDate" value="" class="form-control" style="width:160px;"> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div style="width:400px; float:left;">
                                            <div class="caption" style="width:120px;">End Date:</div>
                                            <div class="field" style="width:150px">
                                                <input type="text" name="toDate" value="23-02-2022"
                                                    class="form-control datepicker" style="width:145px;" />

                                                <!-- <input type="date" name="toDate" value="2022-02-23" class="form-control" style="width:160px;"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div style="width:400px; float:left;">
                                            <div class="caption" style="width:120px;"></div>
                                            <div class="field" style="width:120px;">
                                                <input type="submit" value="Generate" name="generalReport"
                                                    class="button" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!--form-->
                        <div class="clear"></div>

                    </div> <!-- End bodyTab1 -->
                </div> <!-- End .content-box-content -->

                <hr />
                <div style="clear:both;height:20px;"></div>


                <div class="col-xs-12">
                    <div class="content-box-content">
                        <span style="float:right;">
                            <button class="button printThis">Print</button>
                            <a target="_blank"
                                href="ledger-details.html?accountCode=0401010012&po_no=&fromDate=01-01-2001&toDate=23-02-2022&generalReport=Generate&&csv"
                                class="button">Export CSV</a>
                        </span>
                        <div id="bodyTab" class='printTable' style="margin: 0 auto;">

                            <div class="LogoPanel">

                                <img class="logo pull-left" src="uploads/logo/06187797531d809bd69ddd5e8c127214.jpg"
                                    data-pagespeed-url-hash="1247871539"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />

                            </div>
                            <div class="partyTitle" style="text-align:left;">
                                <div style="font-size:26px;line-height: 40px;">
                                    WARISHA DIGITEX </div>
                                Maqbool road , near Blessing Home School <br />
                                +923008655550<br />
                                Infowarishaind@gmail.com
                            </div>
                            <div style="clear: both;"></div>

                            <div style="text-align:left;margin-bottom:20px;" class="pageHeader">

                                <p class="voucherTitle" style="font-size:18px;">AA DAYEING (0401010012) </p>


                                <p style="font-size:12px;padding:0;text-align:center;">
                                    <span class="pull-left">
                                        LedgerFrom: <u> 01-Jan 2001</u> TO: <u> 23-Feb 2022</u>
                                    </span>
                                    <span class="pull-right">
                                        ReportGenerated Date: 23-Feb 2022 </span>

                                </p>

                                <!-- <p style="float:left; margin-left:0px; font-size:14px" class="repoGen">
								</p> -->
                            </div>
                            <div style="clear:both; height:1;"></div>

                            <div class="table-responsive">
                                <table style="margin:0 0px; width:100%;" cellspacing="0" class="tableBreak tableStyle">
                                    <thead class="tHeader">
                                        <tr>
                                            <th width="8%" colspan="2" style="text-align:center;border:1px solid #ddd;">
                                                Ref</th>
                                            <th width="10%" style="border:1px solid #ddd;">Date</th>
                                            <th width="45%" style="border:1px solid #ddd;">Description</th>
                                            <th width="10%" style="text-align:center;border:1px solid #ddd;">Debit</th>
                                            <th width="10%" style="text-align:center;border:1px solid #ddd;">Credit</th>
                                            <th width="15%" style="text-align:center;border:1px solid #ddd;">Balance
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="fontBig" colspan="3"
                                                style="border-right:none;border-left:none;background-color: #f8f8f8;font-weight:normal;">
                                            </td>
                                            <td class="fontBig bold" class="fontBig bold"
                                                style="text-align:right;border-right:1px solid #E5E5E5;border-left:none">
                                                Opening Balance:</td>
                                            <td class="fontBig" colspan="2" style="border-right:none;border-left:none">
                                            </td>
                                            <td class="fontBig bold"
                                                style="border-left:none;border-right:none;text-align:right">
                                                0 CR </td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" style="text-align:center">
                                                CP#
                                            </td>
                                            <td class="fontBig" style="text-align:center">
                                                <a href="voucher-print.html?id=56" target="_blank">55</a>
                                            </td>
                                            <td align="left">
                                                18-03-2021 </td>
                                            <td class="fontBig" align="left"
                                                style="text-decoration: none; color:black !important;">Amount paid in
                                                cash </td>
                                            <td class="fontBig" style="text-align:right" class="debitColumn">
                                                144,665.00 </td>
                                            <td class="fontBig" style="text-align:right;" class="creditColumn">
                                            </td>
                                            <td class="fontBig" style="text-align: right; background-color:">144,665.00
                                                DR</td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" style="text-align:center">
                                                JV#
                                            </td>
                                            <td class="fontBig" style="text-align:center">
                                                <a href="voucher-print.html?id=237" target="_blank">230</a>
                                            </td>
                                            <td align="left">
                                                31-03-2021 </td>
                                            <td class="fontBig" align="left"
                                                style="text-decoration: none; color:black !important;">BILL </td>
                                            <td class="fontBig" style="text-align:right" class="debitColumn">
                                            </td>
                                            <td class="fontBig" style="text-align:right;" class="creditColumn">
                                                144,665.00 </td>
                                            <td class="fontBig" style="text-align: right; background-color:">0.00 CR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" style="text-align:center">
                                                PV#
                                            </td>
                                            <td class="fontBig" style="text-align:center">
                                                <a href="voucher-print.html?id=409" target="_blank">395</a>
                                            </td>
                                            <td align="left">
                                                02-05-2021 </td>
                                            <td class="fontBig" align="left"
                                                style="text-decoration: none; color:black !important;"><a
                                                    class="text-warning urdu-font"
                                                    style="text-decoration: none; color: black !important;"
                                                    target="_blank" href="purchase-invoice.html?id=3">Bill#3 VBill#
                                                    CHIFOON TotalKG:0 qty:1000 @100 </a> </td>
                                            <td class="fontBig" style="text-align:right" class="debitColumn">
                                            </td>
                                            <td class="fontBig" style="text-align:right;" class="creditColumn">
                                                100,000.00 </td>
                                            <td class="fontBig" style="text-align: right; background-color:">100,000.00
                                                CR</td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" style="text-align:center">
                                                PV#
                                            </td>
                                            <td class="fontBig" style="text-align:center">
                                                <a href="voucher-print.html?id=3796" target="_blank">3642</a>
                                            </td>
                                            <td align="left">
                                                23-02-2022 </td>
                                            <td class="fontBig" align="left"
                                                style="text-decoration: none; color:black !important;"><a
                                                    class="text-warning urdu-font"
                                                    style="text-decoration: none; color: black !important;"
                                                    target="_blank" href="purchase-invoice.html?id=371">Bill#366
                                                    TotQty:2302 VBill#1121 Pre qty:2302 @16 </a> </td>
                                            <td class="fontBig" style="text-align:right" class="debitColumn">
                                            </td>
                                            <td class="fontBig" style="text-align:right;" class="creditColumn">
                                                36,832.00 </td>
                                            <td class="fontBig" style="text-align: right; background-color:">136,832.00
                                                CR</td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" style="text-align:center">
                                                PV#
                                            </td>
                                            <td class="fontBig" style="text-align:center">
                                                <a href="voucher-print.html?id=3797" target="_blank">3643</a>
                                            </td>
                                            <td align="left">
                                                23-02-2022 </td>
                                            <td class="fontBig" align="left"
                                                style="text-decoration: none; color:black !important;"><a
                                                    class="text-warning urdu-font"
                                                    style="text-decoration: none; color: black !important;"
                                                    target="_blank" href="purchase-invoice.html?id=372">Bill#367
                                                    TotQty:158 VBill#312 Post qty:158 @16 </a> </td>
                                            <td class="fontBig" style="text-align:right" class="debitColumn">
                                            </td>
                                            <td class="fontBig" style="text-align:right;" class="creditColumn">
                                                2,528.00 </td>
                                            <td class="fontBig" style="text-align: right; background-color:">139,360.00
                                                CR</td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" style="text-align:center">
                                                PV#
                                            </td>
                                            <td class="fontBig" style="text-align:center">
                                                <a href="voucher-print.html?id=3798" target="_blank">3644</a>
                                            </td>
                                            <td align="left">
                                                23-02-2022 </td>
                                            <td class="fontBig" align="left"
                                                style="text-decoration: none; color:black !important;"><a
                                                    class="text-warning urdu-font"
                                                    style="text-decoration: none; color: black !important;"
                                                    target="_blank" href="purchase-invoice.html?id=373">Bill#368
                                                    TotQty:2453 VBill#1018 Post qty:2453 @16 </a> </td>
                                            <td class="fontBig" style="text-align:right" class="debitColumn">
                                            </td>
                                            <td class="fontBig" style="text-align:right;" class="creditColumn">
                                                39,248.00 </td>
                                            <td class="fontBig" style="text-align: right; background-color:">178,608.00
                                                CR</td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" style="text-align:center">
                                                PV#
                                            </td>
                                            <td class="fontBig" style="text-align:center">
                                                <a href="voucher-print.html?id=3799" target="_blank">3645</a>
                                            </td>
                                            <td align="left">
                                                23-02-2022 </td>
                                            <td class="fontBig" align="left"
                                                style="text-decoration: none; color:black !important;"><a
                                                    class="text-warning urdu-font"
                                                    style="text-decoration: none; color: black !important;"
                                                    target="_blank" href="purchase-invoice.html?id=374">Bill#369
                                                    TotQty:5098 VBill#1017 Post qty:5098 @16 </a> </td>
                                            <td class="fontBig" style="text-align:right" class="debitColumn">
                                            </td>
                                            <td class="fontBig" style="text-align:right;" class="creditColumn">
                                                81,568.00 </td>
                                            <td class="fontBig" style="text-align: right; background-color:">260,176.00
                                                CR</td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" style="text-align:center">
                                                PV#
                                            </td>
                                            <td class="fontBig" style="text-align:center">
                                                <a href="voucher-print.html?id=3800" target="_blank">3646</a>
                                            </td>
                                            <td align="left">
                                                23-02-2022 </td>
                                            <td class="fontBig" align="left"
                                                style="text-decoration: none; color:black !important;"><a
                                                    class="text-warning urdu-font"
                                                    style="text-decoration: none; color: black !important;"
                                                    target="_blank" href="purchase-invoice.html?id=375">Bill#370
                                                    TotQty:3688 VBill#1019 Post qty:3688 @16 </a> </td>
                                            <td class="fontBig" style="text-align:right" class="debitColumn">
                                            </td>
                                            <td class="fontBig" style="text-align:right;" class="creditColumn">
                                                59,008.00 </td>
                                            <td class="fontBig" style="text-align: right; background-color:">319,184.00
                                                CR</td>
                                        </tr>
                                        <tr style="background:none">
                                            <td class="fontBig" class="fontBig" colspan="4"
                                                style="text-align:right;border:1px solid #e5e5e5;">Period Total:</td>
                                            <td class="fontBig" style="border:1px solid #e5e5e5;text-align:right">
                                                144,665.00</td>
                                            <td class="fontBig" style="border:1px solid #e5e5e5;text-align:right">
                                                463,849.00</td>
                                            <td class="fontBig" style="border-left:none;text-align:right">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fontBig" colspan="4"
                                                style="text-align:right; font-weight:bold !important;">Closing Balance:
                                            </td>
                                            <td class="fontBig" colspan="2" style=""></td>
                                            <td class="fontBig" style="text-align:right;font-weight:bold !important;"
                                                class="closingBalance">
                                                319,184.00 CR </td>
                                        </tr>

                                        <!-- for pending cheques  -->

                                        <!-- <tr>
											<td colspan="4" style="text-align:right;">Closing Balance without Pending Cheques:</td>
											<td colspan="2" style=""></td>
											<td style="text-align:right" class="closingBalance">
																							</td>
										</tr> -->

                                    </tbody>
                                </table>
                            </div>

                            <div style="clear:both;"></div>
                            <div class="" style="margin-top: 50px;">
                                <div>
                                    <span style="float:left;">Company Signature</span>
                                    <span style="float:right;">Party Signature</span>
                                </div>

                                <div class="clear" style="height:10px;"></div>
                                <div class="text-center" style="border-top: 1px dotted lightgrey">
                                    WARISHA DIGITEX </div>
                            </div>


                        </div>
                        <!--bodyTab2-->



                    </div>
                </div>
                <!--summery_body-->
            </div><!-- End .content-box -->
        </div>
        <!--bodyWrapper-->
    </div>
    <!--body-wrapper-->
</body>

</html>

<script type="text/javascript">$(window).load(function () { $("").focus(); });</script>