<div class="main" style="display: none;">
	<div class="login-form">
		<div class="head">
			<a href="https://cosoftconsulting.com" target="_blank">
				<img id="logo" src="resource/images/login-logo.png" alt="Sits Book" title="About Sits Book Software"/>
			</a>
		</div>
		<div class="clear"></div>
		<div class="form-container">
			<form action="/login" method="post" class="login_fields">
				<input type="text" class="text" value="" placeholder="User Name" name="UserName" required />
				<input type="password" value="" placeholder="Password" name="Password" required />
				<div class="clear"></div>
				<div class="submit">
					<a href="#" class="text-danger" onclick="forgot_password_init();">Forgot Password ?</a>
					<input type="submit" class="btn btn-default" name="LogIn" value="LOGIN">
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</form>

			<form action="" method="post" class="forgot_fields">
				<p class="forgot_form_msg margin-clear"
					style="margin-bottom: 20px; float:left; color:red; font-weight: bold;"></p>
				<input type="text" id="forgot_user" class="text" value="" placeholder="User Name" name="forgot_user"
					autocomplete="off" />
				<p class="margin-clear" style="margin-left: 0px;margin-top: -10px;margin-bottom: 10px; float: left;">
					<input type="radio" id="css-label-radio-1" class="css-checkbox" name="method" value="S" checked />
					<label for="css-label-radio-1" class="css-label-radio">SMS</label>
					<input type="radio" id="css-label-radio-2" class="css-checkbox" name="method" value="E" />
					<label for="css-label-radio-2" class="css-label-radio">Email</label>
				<div class="clear"></div>
				</p>
				<div class="clear"></div>
				<button type="button" class="pull-left btn btn-primary ml-10" onclick="forgot_password_send(this);"> <i
						class="fa fa-send"></i> Send Code</button>

				<span class="cancel-button pull-right btn btn-primary ml-10" onclick="forgot_password_close();">
					Cancel</span>
				<div class="clear"></div>
			</form>

			<!-- forget code form -->
			<form action="" method="post" class="secret_fields" style="display:none;">
				<p class="margin-clear">
					<!-- <label> Code : <i class="fa fa-link"></i></label> -->
					<input class="text-input" id="secret_code" value="" type="text" name="secret_code"
						placeholder="Enter Code" autocomplete="off" style="text-align:center;" />
				</p>
				<div class="clear"></div>
				<button type="button" class="pull-right btn btn-primary ml-10"
					onclick="confirm_code(this);">Confirm</button>
				<span class="cancel-button" onclick="forgot_password_close();"> Cancel</span>
				<div class="clear"></div>
			</form>
		</div>
	</div>
</div>
<div class="ft-info" style="display:block;">
	<span class="ft-ex left">
		Designed &amp; Developed By <a href="http://www.cosoftconsulting.com" target="_blank" class="sits-link-a"
			style="font-weight: bold;">COSOFT solutions</a>
		&nbsp;&nbsp;
		<i class="fa fa-envelope"></i>
		<span class="ft-ex"> <a href="mailto:info@cosoftconsulting.com">info@cosoftconsulting.com</a> </span>
		<span class="ft-ex"> UAN: +92 333 9933886</span>
		[ <small>Version : 7.0.1</small> ]
	</span>
	<span class="ft-ex right">
		<div class="pull-right" style="padding-right:10px;">
			<a href="https://facebook.com/cosoftconsultingBusinessSoftwares" class="ft-ex-social ft-ex-social-f"
				target="_blank"></a>
			<a href="https://plus.google.com/108334373454545379362/posts" class="ft-ex-social ft-ex-social-g"
				target="_blank"></a>
			<a href="https://twitter.com/cosoftconsulting" class="ft-ex-social ft-ex-social-t" target="_blank"></a>
		</div>
		<div class="pull-right" style="padding-top:5px;">
			<a href="https://cosoftconsulting.com" target="_blank" class="ft-ex-links">FAQ </a> |
			<a href="https://cosoftconsulting.com" target="_blank" class="ft-ex-links"> blog </a> |
			<a href="https://cosoftconsulting.com" target="_blank" class="ft-ex-links">Forums </a>&nbsp;&nbsp;&nbsp;
			<!-- <a href="http://cosoftconsulting.com/user-panel/user-login.php" target="_blank" class="ft-ex-links">Support</a> | -->
			<!-- <a href="http://blog.cosoftconsulting.com" target="_blank" class="ft-ex-links"> News &amp; Events </a> -->
		</div>
	</span>
</div>