<link rel="stylesheet" type="text/css" href="/resource/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/style.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/invalid.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/form.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/reports.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/scrollbar.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/bootstrap-select.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/lightbox.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/jquery-ui/jquery-ui.min.css" />
<link href="/resource/css/bootstrap.min.css" rel="stylesheet">
<link href="/resource/css/bootstrap-nav-wizard.css" rel="stylesheet">




<div class="content-box-top">
    <div class="content-box-header">
        <p>Purchased List - 349 Records</p>
        <span id="tabPanel">
            <div class="tabPanel">
                <div class="tabSelected" id="tab1" onClick="tab('1', '1', '2');">List</div>
                <div class="tab" id="tab2" onClick="tab('2', '1', '2');">Search</div>
                <a href="purchase-details.html">
                    <div class="tab">New</div>
                </a>
            </div>
        </span>
        <div class="clear"></div>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <div id="bodyTab1" style="display:block;">
            <table class="table table-hover tableStyle">
                <thead>
                    <tr>


                        <th class="text-center" style="width:5%;">Bill#</th>
                        <th class="text-center" style="width:5%;">Vnd/Bill#</th>
                        <th class="text-center" style="width:5%;">GP#</th>
                        <th class="text-center" style="width:10%;">Date</th>
                        <th class="text-center" style="width:15%;">Supplier</th>
                        <th class="text-center" style="width:15%;">Items</th>
                        <th class="text-center" style="width:5%;">Cartons</th>
                        <th class="text-center" style="width:5%;">Quantity</th>
                        <th class="text-center" style="width:10%;">Amount</th>
                        <th class="text-center" style="width:5%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-row-id="445" data-main-id="445">
                        <td style="text-align:center">440</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">30-Mar 2022</td>
                        <td style="text-align:left">Digi Tech Services</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Accesories, Hardware">
                            Accesories, Hardware</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">2</td>
                        <td style="text-align:center">13,500.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button"
                                    data-toggle="dropdown"></button>
                                <i class="fa fa-bars"></i>
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=445">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=445"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4344" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="444" data-main-id="444">
                        <td style="text-align:center">439</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">28-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Magenta, Yellow, Black, Orange">
                            Magenta, Yellow, Black, Orange</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">70</td>
                        <td style="text-align:center">140,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=444">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=444"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4307" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="443" data-main-id="443">
                        <td style="text-align:center">438</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">28-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Yellow, Cyan, Magenta, Black">
                            Yellow, Cyan, Magenta, Black</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">40</td>
                        <td style="text-align:center">80,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=443">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=443"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4306" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="442" data-main-id="442">
                        <td style="text-align:center">437</td>
                        <td style="text-align:center">1297</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">29-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process">Post-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">5948</td>
                        <td style="text-align:center">95,168.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=442">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=442"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4301" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="441" data-main-id="441">
                        <td style="text-align:center">436</td>
                        <td style="text-align:center">1788</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">22-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Pre-Process">Pre-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">5500</td>
                        <td style="text-align:center">88,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=441">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=441"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4300" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="440" data-main-id="440">
                        <td style="text-align:center">435</td>
                        <td style="text-align:center">1286</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">28-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Pre-Process">Pre-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">975</td>
                        <td style="text-align:center">15,600.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=440">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=440"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4289" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="439" data-main-id="439">
                        <td style="text-align:center">434</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">28-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process, Post-Process">
                            Post-Process, Post-Process</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">11025</td>
                        <td style="text-align:center">176,400.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=439">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=439"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4287" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="438" data-main-id="438">
                        <td style="text-align:center">433</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">27-Mar 2022</td>
                        <td style="text-align:left">Ghaffar</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="polypropylene bags">
                            polypropylene bags</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">30</td>
                        <td style="text-align:center">900.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=438">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=438"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4285" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="437" data-main-id="437">
                        <td style="text-align:center">432</td>
                        <td style="text-align:center">1272</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">27-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process, Post-Process">
                            Post-Process, Post-Process</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">5819.25</td>
                        <td style="text-align:center">93,108.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=437">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=437"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4267" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="436" data-main-id="436">
                        <td style="text-align:center">431</td>
                        <td style="text-align:center">1269</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">27-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Pre-Process">Pre-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">6024</td>
                        <td style="text-align:center">96,384.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=436">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=436"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4266" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="435" data-main-id="435">
                        <td style="text-align:center">430</td>
                        <td style="text-align:center">1368 Cash </td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">27-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Yellow, Magenta, Black, Orange">
                            Yellow, Magenta, Black, Orange</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">100</td>
                        <td style="text-align:center">200,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=435">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=435"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4261" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="434" data-main-id="434">
                        <td style="text-align:center">429</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">27-Mar 2022</td>
                        <td style="text-align:left">Digi Tech Services</td>
                        <td style="text-align:left;" class="pl-10"
                            data-items-list="Hardware, Monthly Maintenance Services">Hardware, Monthly
                            Maintenance Services</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">2</td>
                        <td style="text-align:center">20,500.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=434">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=434"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4258" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="433" data-main-id="433">
                        <td style="text-align:center">428</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">26-Mar 2022</td>
                        <td style="text-align:left">Bin Maryam 2022 P A/c</td>
                        <td style="text-align:left;" class="pl-10"
                            data-items-list="LPG 68*66/52*80, Civic Lawn, Lawn 9070 with Schiffly Embroidery, Lawn 9070 with Schiffly Embroidery, LPG 68*66/52*80, CHIFOON">
                            LPG 68*66/52*80, Civic Lawn, Lawn 9070 w</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">16372.3</td>
                        <td style="text-align:center">1,760,289.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=433">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=433"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4244" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="432" data-main-id="432">
                        <td style="text-align:center">427</td>
                        <td style="text-align:center">4835</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">26-Mar 2022</td>
                        <td style="text-align:left">National Silk & Rayon Mills</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Dyeing">Dyeing</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">1552</td>
                        <td style="text-align:center">32,685.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=432">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=432"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4239" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="431" data-main-id="431">
                        <td style="text-align:center">426</td>
                        <td style="text-align:center">4833</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">09-Oct 2021</td>
                        <td style="text-align:left">National Silk & Rayon Mills</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Dyeing">Dyeing</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">6259</td>
                        <td style="text-align:center">131,815.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=431">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=431"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4238" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="430" data-main-id="430">
                        <td style="text-align:center">425</td>
                        <td style="text-align:center">4082</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">31-Jul 2021</td>
                        <td style="text-align:left">National Silk & Rayon Mills</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Dyeing">Dyeing</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">11500</td>
                        <td style="text-align:center">242,190.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=430">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=430"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4237" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="429" data-main-id="429">
                        <td style="text-align:center">424</td>
                        <td style="text-align:center">350+347+34</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">26-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10"
                            data-items-list="Post-Process, Post-Process, Post-Process">Post-Process,
                            Post-Process, Post-Process</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">77.75</td>
                        <td style="text-align:center">1,244.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=429">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=429"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4223" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="428" data-main-id="428">
                        <td style="text-align:center">423</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">24-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Yellow, Magenta, Black">
                            Yellow, Magenta, Black</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">100</td>
                        <td style="text-align:center">200,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=428">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=428"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4220" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="427" data-main-id="427">
                        <td style="text-align:center">422</td>
                        <td style="text-align:center">683</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">22-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10"
                            data-items-list="Cyan, Magenta, Yellow, Black, Orange">Cyan, Magenta, Yellow, Black,
                            Orange</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">100</td>
                        <td style="text-align:center">200,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=427">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=427"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4215" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="426" data-main-id="426">
                        <td style="text-align:center">421</td>
                        <td style="text-align:center">1938</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">01-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process">Post-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">76</td>
                        <td style="text-align:center">1,216.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=426">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=426"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4208" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="425" data-main-id="425">
                        <td style="text-align:center">420</td>
                        <td style="text-align:center">1791</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">24-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process">Post-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">3538.75</td>
                        <td style="text-align:center">56,620.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=425">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=425"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4207" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="424" data-main-id="424">
                        <td style="text-align:center">419</td>
                        <td style="text-align:center">1792</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">24-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process">Post-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">2453.5</td>
                        <td style="text-align:center">39,256.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=424">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=424"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4206" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="423" data-main-id="423">
                        <td style="text-align:center">418</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">21-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Cleaning Solution ">Cleaning
                            Solution </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">10</td>
                        <td style="text-align:center">50,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=423">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=423"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4190" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="422" data-main-id="422">
                        <td style="text-align:center">417</td>
                        <td style="text-align:center">1351</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">20-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Yellow, Black, Magenta">
                            Yellow, Black, Magenta</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">60</td>
                        <td style="text-align:center">120,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=422">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=422"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4187" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="421" data-main-id="421">
                        <td style="text-align:center">416</td>
                        <td style="text-align:center">10009</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">21-Mar 2022</td>
                        <td style="text-align:left">MSRAH TRADERS</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Veil 100*80">Veil 100*80
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">12080</td>
                        <td style="text-align:center">1,449,600.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=421">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=421"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4160" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="420" data-main-id="420">
                        <td style="text-align:center">415</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">21-Mar 2022</td>
                        <td style="text-align:left">ATM EXPORTS </td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Pre-Process, Pre-Process">
                            Pre-Process, Pre-Process</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">12000</td>
                        <td style="text-align:center">192,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=420">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=420"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4158" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="419" data-main-id="419">
                        <td style="text-align:center">414</td>
                        <td style="text-align:center">1190</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">26-Feb 2022</td>
                        <td style="text-align:left">Al-Jilani Textile Industries</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Pre-Process">Pre-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">17880</td>
                        <td style="text-align:center">321,840.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=419">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=419"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4151" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="418" data-main-id="418">
                        <td style="text-align:center">413</td>
                        <td style="text-align:center">1154</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">19-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10"
                            data-items-list="Yellow, Cyan, Magenta, Black, Orange">Yellow, Cyan, Magenta, Black,
                            Orange</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">90</td>
                        <td style="text-align:center">180,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=418">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=418"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4122" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="417" data-main-id="417">
                        <td style="text-align:center">412</td>
                        <td style="text-align:center">672</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">17-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Cyan, Magenta, Yellow, Black">Cyan,
                            Magenta, Yellow, Black</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">80</td>
                        <td style="text-align:center">160,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=417">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=417"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4121" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="416" data-main-id="416">
                        <td style="text-align:center">411</td>
                        <td style="text-align:center">1344</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">15-Mar 2022</td>
                        <td style="text-align:left">Cash</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Distilled Water">Distilled
                            Water</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">1</td>
                        <td style="text-align:center">150.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=416">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=416"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4120" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="415" data-main-id="415">
                        <td style="text-align:center">410</td>
                        <td style="text-align:center">3611</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">19-Mar 2022</td>
                        <td style="text-align:left">Jubilee Textiles</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process">Post-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">3462</td>
                        <td style="text-align:center">55,392.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=415">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=415"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4111" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="414" data-main-id="414">
                        <td style="text-align:center">409</td>
                        <td style="text-align:center">3616</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">19-Mar 2022</td>
                        <td style="text-align:left">Jubilee Textiles</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process">Post-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">4032</td>
                        <td style="text-align:center">64,512.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=414">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=414"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4110" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="413" data-main-id="413">
                        <td style="text-align:center">408</td>
                        <td style="text-align:center">3612</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">19-Mar 2022</td>
                        <td style="text-align:left">Jubilee Textiles</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Post-Process">Post-Process
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">3863</td>
                        <td style="text-align:center">61,808.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=413">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=413"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4109" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="412" data-main-id="412">
                        <td style="text-align:center">407</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">13-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Orange">Orange</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">10</td>
                        <td style="text-align:center">20,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=412">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=412"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4090" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="411" data-main-id="411">
                        <td style="text-align:center">406</td>
                        <td style="text-align:center">8578</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">16-Mar 2022</td>
                        <td style="text-align:left">Affan Computers</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Accesories">Accesories</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">1</td>
                        <td style="text-align:center">400.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=411">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=411"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4089" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="410" data-main-id="410">
                        <td style="text-align:center">405</td>
                        <td style="text-align:center">663</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">15-Mar 2022</td>
                        <td style="text-align:left">Cash Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Cyan, Magenta, Yellow, Black">Cyan,
                            Magenta, Yellow, Black</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">100</td>
                        <td style="text-align:center">200,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=410">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=410"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4088" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="409" data-main-id="409">
                        <td style="text-align:center">404</td>
                        <td style="text-align:center">666</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">14-Mar 2022</td>
                        <td style="text-align:left">Cash Purchase Riz Tex</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Yellow, Black, Orange">
                            Yellow, Black, Orange</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">50</td>
                        <td style="text-align:center">100,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=409">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=409"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4057" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="408" data-main-id="408">
                        <td style="text-align:center">403</td>
                        <td style="text-align:center">1323</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">10-Mar 2022</td>
                        <td style="text-align:left"></td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Yellow, Black">Yellow, Black
                        </td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">20</td>
                        <td style="text-align:center">40,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=408">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=408"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4034" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="407" data-main-id="407">
                        <td style="text-align:center">402</td>
                        <td style="text-align:center">1315 </td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">09-Mar 2022</td>
                        <td style="text-align:left">Cash Purchase Riz Tex</td>
                        <td style="text-align:left;" class="pl-10"
                            data-items-list="Yellow, Cyan, Magenta, Black, Orange">Yellow, Cyan, Magenta, Black,
                            Orange</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">80</td>
                        <td style="text-align:center">160,000.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=407">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=407"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4033" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr data-row-id="406" data-main-id="406">
                        <td style="text-align:center">401</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">31-Jan 2022</td>
                        <td style="text-align:left">BIN MARYAM PURCHASE A/C</td>
                        <td style="text-align:left;" class="pl-10" data-items-list="Shalwar/Trousers Cloth">
                            Shalwar/Trousers Cloth</td>
                        <td style="text-align:center">0.00</td>
                        <td style="text-align:center">8308</td>
                        <td style="text-align:center">913,880.00</td>

                        <td style="text-align:center">

                            <div class="dropdown">
                                <button class="dropdown-toggle" id="view_button" type="button" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="purchase-details.html?id=406">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </li>
                                    <li><a target="_blank" href="purchase-invoice.html?id=406"> <i
                                                class="fa fa-print"></i> Print</a>
                                    </li>

                                    <li><a target="_blank" href="voucher-print.html?id=4012" title="Print">
                                            <i class="fa fa-print"></i> Voucher</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-xs-12 text-center">
                <nav>
                    <ul class="pagination">
                        <li class="active">
                            <a href="/purchased-list.html?page=1">1</a>
                        </li>
                        <li class="">
                            <a href="/purchased-list.html?page=2">2</a>
                        </li>
                        <li class="">
                            <a href="/purchased-list.html?page=3">3</a>
                        </li>
                        <li class="">
                            <a href="/purchased-list.html?page=4">4</a>
                        </li>
                        <li class="">
                            <a href="/purchased-list.html?page=5">5</a>
                        </li>
                        <li class="">
                            <a href="/purchased-list.html?page=6">6</a>
                        </li>
                        <li><a href='/purchased-list.html?page=2'>Next</a></li>
                        <li><a href="/purchased-list.html?page=9">Last</a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
        <!--End bodyTab1-->
        <div style="height:0px;clear:both"></div>
        <div id="bodyTab2" style="display:none;">
            <div id="form">
                <form method="get" action="/purchased-list.html">

                    <div class="caption"></div>
                    <div class="message red"></div>
                    <div class="clear"></div>

                    <div class="caption">From Date</div>
                    <div class="field">
                        <input type="text" value="" name="from_date" class="form-control datepicker"
                            style="width: 150px;" />

                        <!-- <input type="date" name="from_date" value="" class="form-control" style="width:160px; text-align: center !important;"> -->
                    </div>
                    <div class="clear"></div>

                    <div class="caption">To Date</div>
                    <div class="field">
                        <input type="text" value="31-03-2022" name="to_date" class="form-control datepicker"
                            style="width: 150px;" />
                    </div>
                    <div class="clear"></div>


                    <div class="caption">Bill #</div>
                    <div class="field">
                        <input type="text" value="" name="billNum" class="form-control" />
                    </div>
                    <div class="clear"></div>

                    <div class="caption">Vendor Bill #</div>
                    <div class="field">
                        <input type="text" value="" name="vendor_bill_no" class="form-control text-center" />
                    </div>
                    <div class="clear"></div>

                    <div class="caption">Gate Pass #</div>
                    <div class="field">
                        <input type="text" value="" name="gate_pass_no" class="form-control text-center" />
                    </div>
                    <div class="clear"></div>


                    <div class="caption">Supplier</div>
                    <div class="field" style="width:305px;">
                        <select class="selectpicker form-control" name='supplierAccCode' data-style="btn-default"
                            data-live-search="true" style="border:none">
                            <option selected value=""></option>
                            <option data-subtext="0101010004" value="0101010004">Cash In Hand A/c Adil Grey
                            </option>
                            <option data-subtext="010101001" value="010101001">Cash in Hand A/c Admin</option>
                            <option data-subtext="0101010002" value="0101010002">Cash in Hand A/c Naeem
                            </option>
                            <option data-subtext="0101010003" value="0101010003">Cash In Hand Tayyab Account
                            </option>
                            <option data-subtext="0101010005" value="0101010005">Dasti Account (CEO)</option>
                            <option data-subtext="0401010012" value="0401010012">AA DAYEING</option>
                            <option data-subtext="0401010002" value="0401010002">AFZAL BHOLA SB</option>
                            <option data-subtext="0401010062" value="0401010062">AHMAD ABUBAKAR DYEING</option>
                            <option data-subtext="0401010017" value="0401010017">Ahmad Embroidery Warisha
                                Textiles</option>
                            <option data-subtext="0401010067" value="0401010067">Ahsan Mudasir Grey</option>
                            <option data-subtext="0401010015" value="0401010015">AKS (Malik Ayaz Sb)</option>
                            <option data-subtext="0401010018" value="0401010018">AL REYAN EMB</option>
                            <option data-subtext="0401010079" value="0401010079">Al-Jilani Textile Industries
                            </option>
                            <option data-subtext="0401010060" value="0401010060">Aqsa Arts Rainbow Ink</option>
                            <option data-subtext="0401010037" value="0401010037">AR SONS (PURCHASES) </option>
                            <option data-subtext="0401010041" value="0401010041">Ashraf Computers</option>
                            <option data-subtext="0401010031" value="0401010031">Ashraf Zia Tex Ind</option>
                            <option data-subtext="0401010038" value="0401010038">ASIF FEBRICS (PURCHASE A/C)
                            </option>
                            <option data-subtext="0401010076" value="0401010076">ATM EXPORTS </option>
                            <option data-subtext="0401010048" value="0401010048">Aymen Impex </option>
                            <option data-subtext="0401010045" value="0401010045">Bao Gee Textile</option>
                            <option data-subtext="0401010027" value="0401010027">BEST EMB</option>
                            <option data-subtext="0401010057" value="0401010057">Bilal Sagheer Sb </option>
                            <option data-subtext="0401010073" value="0401010073">Bin Ijaz Purchase</option>
                            <option data-subtext="0401010077" value="0401010077">Bin Maryam 2022 P A/c</option>
                            <option data-subtext="0401010043" value="0401010043">BIN MARYAM PURCHASE A/C
                            </option>
                            <option data-subtext="0401010054" value="0401010054">Bismillah Dyeing</option>
                            <option data-subtext="0401010003" value="0401010003">BRAVO INK</option>
                            <option data-subtext="0401010050" value="0401010050">City Cafe</option>
                            <option data-subtext="0401010044" value="0401010044">DANYAL SHAFIQUE PURCHASE A/C
                            </option>
                            <option data-subtext="0401010083" value="0401010083">Digi Tech Services</option>
                            <option data-subtext="0401010074" value="0401010074">Elahi Traders</option>
                            <option data-subtext="0401010071" value="0401010071">Eman Dyeing</option>
                            <option data-subtext="0401010056" value="0401010056">Evelyn Water</option>
                            <option data-subtext="0401010032" value="0401010032">Ever Green</option>
                            <option data-subtext="0401010022" value="0401010022">GULZAR KAMOKA RIKSHA DRIVER
                            </option>
                            <option data-subtext="0401010051" value="0401010051">H.A.R. Fibers </option>
                            <option data-subtext="0401010046" value="0401010046">HASEEB ARTS PURCHASE A/C
                            </option>
                            <option data-subtext="0401010025" value="0401010025">HASEEB COMPUTER</option>
                            <option data-subtext="0401010020" value="0401010020">Hilal Fabrics</option>
                            <option data-subtext="0401010024" value="0401010024">IMRAN ISHAQ</option>
                            <option data-subtext="0401010058" value="0401010058">Irfan Suleman </option>
                            <option data-subtext="0401010070" value="0401010070">Jubilee Textiles</option>
                            <option data-subtext="0401010026" value="0401010026">KASHIF SB</option>
                            <option data-subtext="0401010052" value="0401010052">M Tariq Grey</option>
                            <option data-subtext="0401010023" value="0401010023">MA </option>
                            <option data-subtext="0401010004" value="0401010004">MF BRO</option>
                            <option data-subtext="0401010080" value="0401010080">MSRAH TRADERS</option>
                            <option data-subtext="0401010081" value="0401010081">MUBARIK DYEING (BAO G)</option>
                            <option data-subtext="0401010021" value="0401010021">MUBASHAR NASEEM</option>
                            <option data-subtext="0401010016" value="0401010016">Musaddiq Embroidery </option>
                            <option data-subtext="0401010007" value="0401010007">NADEEM LOADER</option>
                            <option data-subtext="0401010040" value="0401010040">Nadeem Waseem Lahore Purchase
                            </option>
                            <option data-subtext="0401010082" value="0401010082">National Silk & Rayon Mills
                            </option>
                            <option data-subtext="0401010029" value="0401010029">ONYX (SECURITY COMPANY)
                            </option>
                            <option data-subtext="0401010053" value="0401010053">Purchase Jalal Arts</option>
                            <option data-subtext="0401010005" value="0401010005">Rainbow Inks Pvt Ltd</option>
                            <option data-subtext="0401010019" value="0401010019">REHAN IBRAHIM EMB</option>
                            <option data-subtext="0401010065" value="0401010065">Rikshaw Ather</option>
                            <option data-subtext="0401010010" value="0401010010">Rikshaw Faisal </option>
                            <option data-subtext="0401010035" value="0401010035">Rikshaw Haider </option>
                            <option data-subtext="0401010069" value="0401010069">Rikshaw Sajjad Khan</option>
                            <option data-subtext="0401010047" value="0401010047">RIZWAN USMAN TRADERS</option>
                            <option data-subtext="0401010059" value="0401010059">Salman Yousaf Rizwan Arts
                            </option>
                            <option data-subtext="0401010011" value="0401010011">SAMI ASHRAF</option>
                            <option data-subtext="0401010068" value="0401010068">Shahbaz Sb Grey</option>
                            <option data-subtext="0401010055" value="0401010055">Sheikh Ahmad Raza Grey</option>
                            <option data-subtext="0401010061" value="0401010061">Shuja-ud-Din UPS</option>
                            <option data-subtext="0401010075" value="0401010075">Sohni Arts P A/c</option>
                            <option data-subtext="0401010042" value="0401010042">SS TRADERS (UMAIR SB) PURCHASE
                                A/C</option>
                            <option data-subtext="0401010030" value="0401010030">SUSPENSE ACCOUNT</option>
                            <option data-subtext="0401010036" value="0401010036">Tehreem Collection Purchases
                            </option>
                            <option data-subtext="0401010006" value="0401010006">UTM</option>
                            <option data-subtext="0401010034" value="0401010034">Wahab Fabrics C/o Nouman
                                Shuakat</option>
                            <option data-subtext="0401010063" value="0401010063">Waqas Islam Grey</option>
                            <option data-subtext="0401010009" value="0401010009">WARISHA 1</option>
                            <option data-subtext="0401010008" value="0401010008">WARISHA 2 </option>
                            <option data-subtext="0401010039" value="0401010039">WARISHA 2 (PURCHASE A/C)
                            </option>
                            <option data-subtext="0401010049" value="0401010049">Wasif Chemical</option>
                            <option data-subtext="0401010028" value="0401010028">YASEEN AMEEN DYEING</option>
                            <option data-subtext="0401010072" value="0401010072">Zainab Fatima Arts</option>
                        </select>
                    </div>
                    <div class="clear"></div>




                    <div class="caption"></div>
                    <div class="field">
                        <input type="submit" value="Search" name="search" class="button" />
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
            <!--form-->
        </div> <!-- End bodyTab2 -->
    </div> <!-- End .content-box-content -->
</div>



<script type="text/javascript">$(document).on("click", ".sendSMS", function () { var vid = $(this).attr('vid'); var mode = 'SMS'; $.post('/db/cash-process-sms.html', { mode: mode, vid: vid }, function (data) { data = $.parseJSON(data); displayMessage(data['MSG']); }); }); $(window).load(function () { $('.accCodeSelector').selectpicker(); $("div.accCodeSelector button").focus(); $(".narration").setFocusTo(".debit"); $(".debit").setFocusToIfVal(".credit"); $(".narration").escFocusTo("button.dropdown-toggle"); $(".debit").escFocusTo(".narration"); $(".credit").escFocusTo(".debit"); $(".debit").keyup(function (e) { if (e.keyCode == 13) { $(this).quickSubmitDrCr(); } }); $(".credit").keyup(function (e) { if (e.keyCode == 13) { $(this).quickSubmitDrCr(); } }); $(".cdr_btn").on('click', function (e) { $(this).quickSubmitDrCr(); }); $("div.accCodeSelector button").keyup(function (e) { if (e.keyCode == 13) { if ($("select.accCodeSelector option:selected").val() != 0) { var account_code = $("select.accCodeSelector option:selected").val(); getAccountBalance(account_code, "insertAccTitle"); $(".insertAccTitle").fadeIn(); $(".narration").focus(); } } }); $(".save_voucher").click(function () { $(this).saveJournal(); }); $(window).keyup(function (e) { if (e.altKey == true && e.keyCode == 83) { e.preventDefault(); $("#form").click(); $(".save_voucher").click(); return false; } }); $("#datepicker").setFocusTo("div.accCodeSelector button"); $(document).showDifference(); $(".deleteVoucher").click(function () { $(this).deleteVoucher(); }); });
</script>